*{
    margin: 0px;
}
header{
    background: #0d9108;
}
main{
    background: #095770;
}
footer{
    color: white;
    background: #000000;
    text-align: center;

}
nav{
    display: flex;
    justify-content: space-around;

}
nav>section{
    border-style: solid;
}
.bonefire{
    height: 200px;
    width: 200px;
}
