* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #000000;
  }
  
  header {
	background-color: #707070;
	color: #ffffff;
	padding: 20px;
  }
  
  nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .menu-icon {
	display: none;
	cursor: pointer;
  }
  
  .menu {
	display: flex;
	list-style-type: none;
  }
  
  .menu li {
	margin-left: 20px;
  }
  
  .menu a {
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
  }
  
  section {
	margin: 50px auto;
	text-align: center;
  }
  
  h2 {
	margin-bottom: 20px;
  }
  
  ul.experiencia-lista,
  ul.habilidades-lista,
  ul.proyectos-lista {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  #inicio {
	background: linear-gradient(to bottom, #707070, #000000);
	color: #ffffff;
	padding: 50px 0;
	text-align: center;
	margin-top: 0px;
  }
  
  #inicio .contenido {
	max-width: 800px;
	margin: 0 auto;
  }
  
  #inicio h2 {
	font-size: 32px;
	margin-bottom: 20px;
  }
  
  #inicio p {
	font-size: 18px;
	margin-bottom: 20px;
  }
  
  #inicio .btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
  }
  
  #inicio .btn:hover {
	background-color: #e0e0e0;
  }
  
  
  #habilidades {
	background-color: #3b3b3b;
	padding: 50px 0;
  }
  
  .habilidades-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
  }
  
  .habilidad {
	width: 200px;
	padding: 20px;
	margin: 10px;
	background-color: #93e2ff;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .habilidad i {
	font-size: 48px;
	color: #707070;
	margin-bottom: 10px;
  }
  
  .habilidad p {
	font-size: 16px;
	color: #707070;
  }
  
  ul.experiencia-lista li,
  ul.habilidades-lista li,
  ul.proyectos-lista li {
	width: 300px;
	margin: 20px;
  }
  
  img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	src: url(download5.gif);
  }

  #contacto{
	background: linear-gradient(to top, #707070, #000000);
	color: #ffffff;
	margin-bottom: 0px;
  }
  
  footer {
	background-color: #707070;
	color: #ffffff;
	padding: 10px;
	text-align: center;
  }
  
  @media (max-width: 768px) {
	.menu-icon {
	  display: block;
	}
  
	.menu {
	  display: none;
	  position: absolute;
	  top: 60px;
	  left: 0;
	  width: 100%;
	  background-color: #707070;
	  padding: 10px;
	}
  
	.menu.active {
	  display: flex;
	  flex-direction: column;
	}
  }
  .cambiarFondo header {
	background-color: #ffffff;
	color: #000000;
  }
  .cambiarFondo .menu a{
	color: #000000;
  }
  
  .cambiarFondo footer {
	background-color: #ffffff;
	color: #000000;
  }
  .cambiarFondo #inicio {
	background: rgb(255, 255, 255);
	color: #000000;
  }
  .cambiarFondo #contacto {
	background: rgb(255, 255, 255);
	color: #000000;
  }
  .cambiarFondo section {
	background: rgb(255, 255, 255);
	color: #000000;
  }


body.cambiarFondo {
	background-color: rgb(255, 255, 255);
  }
  #habilidades {
	background-color: #c9c9c9;
  }
  
  .habilidad {
	background-color: #0b671e;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .habilidad i {
	color: #a9a9a9;
  }
  
  .habilidad p {
	color: #979797;
  }